Django==4.2.7
Pillow==10.1.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7
python-decouple==3.8
django-ckeditor==6.7.1
mssql-django==1.5.2
# pyodbc intentionally not here; installed via apt as python3-pyodbc
